@import url('https://fonts.googleapis.com/css?family=Lato|Gelasio|Libre+Barcode+128+Text&display=swap');

:root {
  --main-bg-color: #e7e7e7;
  --main-fg-color: black;
}

body {
  font-family: 'Space Mono', 'Courier New', sans-serif;
  font-weight: 300;
  font-size: 12pt;
  margin: 0;
  padding: 0;
  color: var(--main-fg-color);
  background: var(--main-bg-color);
  line-height: 1.5rem;
}

a {
  color: #108db8;
}

img {
  max-width: 100%;
}

h1 {
  font-weight: 700;
  margin: 1rem 0;
}

h2 {
  font-weight: 700;
  margin: 1rem 0;
}

h3 {
  font-weight: 700;
  margin: 1rem 0;
}

h4,h5,h6 {
  font-weight: 700;
  margin: 1rem 0;
}

hr {
  position: relative;
  height: 2rem;
  overflow: hidden;
  border: 0;
  margin: 2rem 0;
}

hr:after {
  content: "---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------";
  width: 100%;
}

p {
  margin: 1rem 0;
}

#container {
  max-width: 800px;
  min-width: 400px;
  margin: 16px auto;
  padding: 16px;
  background: white;
}

nav#nav--main {
  color: #fff;
  background: #050449;
  margin: -16px -16px 2rem -16px;
  padding: 16px;
}


nav#nav--main a {
  color: inherit;
}

nav#nav--main > ul > li {
  display: inline
}

nav#nav--main > ul > li > a:not(:first-child):before {
  content: " - ";
}

.header--postheader {
  text-align: center;
}
