#index-content {
  margin-bottom: 3em;
}

.posts {
  list-style-type: disc;
}

.posts > li {
  /*margin-left: 0;
    margin-top: 8px;
    margin-bottom: 8px;*/
}

.posts > li > time {
  color: gray;
  font-size: 70%;
}
