@import url('https://fonts.googleapis.com/css?family=Lato|Gelasio|Libre+Barcode+128+Text&display=swap');

:root {
  /*--main-bg-color: #d8d8d8;*/
  --main-bg-color: #eeeeee;
  --main-fg-color: black;
}

body {
  font-family: 'Lato', Helvetica, Arial, 'Lucida Grande', sans-serif;
  font-weight: 300;
  font-size: 12pt;
  margin: 0;
  padding: 0;
  color: var(--main-fg-color);
  background: var(--main-bg-color);
}

a {
  text-decoration: none;
  color: #108db8;
}

img {
  max-width: 100%;
}

h1 {
  font-family: 'Gelasio', serif;
  text-align: center;
  font-size: 32pt;
  margin: 1em 0 1em 0;
}

h2 {
  font-family: 'Gelasio', serif;
  font-size: 28pt;
  margin: 0.6em 0 0.6em 0;
}

h3 {
  font-family: 'Gelasio', serif;
  font-size: 24pt;
  margin: 0.6em 0 0.6em 0;
}

h4 {
  font-family: 'Gelasio', serif;
  font-size: 18pt;
  margin: 0.6em 0 0.6em 0;
}

h5 {
  font-family: 'Gelasio', serif;
  font-size: 16pt;
  margin: 0.6em 0 0.6em 0;
}

h6 {
  font-family: 'Gelasio', serif;
  font-size: 12pt;
  margin: 0.6em 0 0.6em 0;
}

hr {
  border-top: 4px double #8c8b8b;
  text-align: center;
}

p {
  line-height: 1.4em;
  margin: 0.8em 0 0.8em 0;
  text-align: justify;
}

strong {
  font-weight: 600;
}

em {
  font-style: italic;
}

ul {
  list-style-type: disc;
}

ul > li {
  margin-left: 32px;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  line-height: 1.4em;
}

ol {
  list-style-type: decimal;
}

ol > li {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: 32px;
  line-height: 1.4em;
}

blockquote {
  border-left: 5px solid lightgray;
  padding: 0px 0px 0px 10px;
}

code {
  font-size: 90%;
  color: #2b2b2b;
  background: white;
  padding: 0 0.2em 0.1em 0.2em;
  font-family: 'Source Code Pro', monospace;
  border: 1px solid #2b2b2b;
  border-radius: 3px;
  font-weight: 500;
}

code.hljs {
  display: block;
  overflow-x: auto;
  font-family: 'Source Code Pro', monospace;
  border-radius: 5px;
  line-height: 1.3em;
  padding: 0.5em;
}

/*pre {*/
/*border: 1px solid gray;*/
/*padding: 16px;*/
/*background: #0a0a0a;*/
/*color: white;*/
/*}*/

/*pre > code {*/
/*background: inherit;*/
/*color: inherit;*/
/*}*/

table {
  border: 2px solid #000000;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}

table td,
table th {
  border: 1px solid #000000;
  padding: 5px 5px;
}

table thead {
  background: #cfcfcf;
  border-bottom: 3px solid #000000;
}

table thead th {
  font-weight: bold;
  color: #000000;
  text-align: left;
}

table tfoot {
  font-weight: bold;
  color: #000000;
  border-top: 3px solid #000000;
}

table tfoot td {
}

.post-title-details {
  display: block;
  text-align: center;
  font-size: 80%;
  margin-bottom: 5em;
}

ul.posts {
  list-style: none;
  margin: 0;
}

ul.posts > li {
  margin: 0;
}

ul.posts > li:not(:last-child) {
  margin-bottom: 2rem;
}

ul.posts > li > a.title {
  font-size: 18pt;
}

ul.posts > li desc {
  font-size: 10pt;
}

article img {
  display: block;
  margin: 10px auto;
}

main,
#content-break,
aside,
footer {
  padding: 0rem 3rem;
}

.container {
  max-width: 600px;
  margin: auto;
}

body > header {
  padding: 5rem 16px;
  text-align: center;
  font-family: 'Libre Barcode 128 Text', 'Courier New', monospace;
  font-size: 82pt;
}

body > header a {
  color: inherit;
}

/* https://codepen.io/CodingDroid/pen/sgthw */

.ribbon-top {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 10px;
  z-index: 5;
  background: linear-gradient(
    120deg,
    #a85e6c 0%,
    #a85e6c 12.5%,
    #e37f52 12.5%,
    #e37f52 25%,
    #ef9f48 25%,
    #ef9f48 37.5%,
    #9cb641 37.5%,
    #9cb641 50%,
    #009484 50%,
    #009484 62.5%,
    #21acb8 62.5%,
    #21acb8 75%,
    #1972dd 75%,
    #1972dd 87.5%,
    #8fa0ae 87.5%,
    #8fa0ae 100%
  );
}

#content-break hr {
  margin: 3rem 0;
}

aside#biography {
  margin-bottom: 2rem;
}

footer {
  text-align: center;
  min-height: 50px;
  margin-bottom: 24px;
}

footer.no-bio {
  margin-top: 5rem;
}

footer #notices > span {
  display: inline-block;
}

footer #notices > span:not(:last-child) {
  margin-right: 16px;
}

footer img {
  vertical-align: bottom;
}

footer div#notices {
  margin: 16px 0;
  line-height: 1.2em;
}

footer div.small-print {
  font-size: 60%;
}

footer a {
  color: inherit;
}

footer a:hover {
  text-decoration: underline;
}
