<header>
	<h1 class="site-title">
		<a href="{{ .Site.BaseURL }}">
			{{ .Site.Title }}
		</a>
	</h1>
	<div class="tagline">{{ .Site.Params.tagline }}</div>
	<nav>
		<ul>
			{{ with .Site.Params.linkedin }}
			<li>
			    <a href="{{ .url }}">
			        <img type="image/svg+xml"
					class="nav-icon linkedin"
					title="{{ .name }}" alt="{{ .name }}"
					src="/simple-icons/icons/linkedin.svg">
				</embed>
			    </a>
			</li>
			{{ end }}
			{{ with .Site.Params.twitter }}
			<li>
			    <a href="{{ .url }}">
			        <img class="nav-icon"
					title="{{ .name }}" alt="{{ .name }}"
					src="/simple-icons/icons/twitter.svg" />
			    </a>
			</li>
			{{ end }}
			{{ with .Site.Params.youtube }}
			<li>
			    <a href="{{ .url }}">
			        <img class="nav-icon"
					title="{{ .name }}" alt="{{ .name }}"
					src="/simple-icons/icons/youtube.svg" />
			    </a>
			</li>
			{{ end }}
			{{ with .Site.Params.github }}
			<li>
			    <a href="{{ .url }}">
			        <img class="nav-icon"
					title="{{ .name }}" alt="{{ .name }}"
					src="/simple-icons/icons/github.svg" />
			    </a>
			</li>
			{{ end }}
		</ul>
	</nav>
</header>
