footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: lightslategray;
    text-align: center;
    padding: 4em 1em 1em 1em;
    min-height: 50px;
}

footer img {
    vertical-align: bottom;
}

footer > div {
    flex: 1;
    margin: 16px 0;
}

footer > div.small-print {
    font-size: 60%;
}

footer a {
    color: inherit
}

footer a:hover {
    text-decoration: underline;
}

aside#biography {
    max-width: 600px;
    margin: 96px auto 0 auto;
}