footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: lightslategray;
    text-align: center;
    padding: 1em;
    min-height: 50px;
}

footer > div {
    flex: 1;
    margin: 16px 0;
}

footer > div.small-print {
    font-size: 60%;
}

footer a {
    color: inherit
}

footer a:hover {
    text-decoration: underline;
}