@import url('https://fonts.googleapis.com/css?family=Yellowtail');

nav {
    background: white;
    color: black;
}

nav.main {
    padding: 1em 1em 1em 0;
}

nav.main > .nav-container {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

nav.main > .nav-container > div {
}

nav.main > .nav-container > div.links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

nav.main > .nav-container > div.links > .line {
    width: 200px;
    height: 1px;
    flex: 1;
    border-bottom: 1px solid black;
}

nav.main > .nav-container > div.links > a {
    flex: 0 0 32px;
}

nav.main .title {
    margin: 0.75em 0;
    font-family: 'Yellowtail', cursive;
    font-weight: normal;
    font-size: 300%;
    flex: 1;
}

nav.main a {
    color: inherit;
    padding: 8px;
    text-align: center;
    vertical-align: middle;
}

nav.main a svg {
    width: 24px;
    height: 24px;
    fill: black;
}

nav .navlink {
    flex: 1;
}

@media screen and (max-width: 575px) {
    nav {
        display: initial;
    }

    nav.main {
        padding: 1em;
    }


    nav.main .title {
        margin-bottom: 1em;
    }
}