{{ partial "head.html" . }}
<body class="{{ .Site.Params.themeColor }} {{if .Site.Params.layoutReverse}}layout-reverse{{end}}">

    {{ partial "sidebar.html" . }}

    <div class="content container">

    <h1>About</h1>
    {{ partial "about.html" . }}

    <section class="posts">
        <h1>Last 10 Posts</h1>
        {{ $posts := where .Site.Pages.ByDate.Reverse "Type" "post" }}
        {{ range first 10 $posts }}
        <div>
            <span class="post-title">
                <a href="{{ .Permalink }}">
                    {{ .Title }}
                </a>
            </span>
            &mdash;
            <span class="post-date" style="display:inline">
                {{ .Date.Format "Jan 2, 2006" }}
            </span>
        </div>
        {{ end }}
    </section>
</div>

</body>
</html>
