<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ metadata.title }}{% if title %} &ndash; {{ title }}{% endif %}</title>
    <meta name="description" content="{{ description or metadata.description }}">
    <link rel="stylesheet" href="{{ '/css/reset.css' | url }}">
    <link rel="stylesheet" href="{{ '/css/app.css' | url }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://unpkg.com/prismjs@1.20.0/themes/prism-okaidia.css" rel="stylesheet">
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
    <link rel="alternate" href="{{ metadata.jsonfeed.path | url }}" type="application/json" title="{{ metadata.title }}">
  </head>
  <body>
    <div id="container">
    <nav id="nav--main">
      <ul>
        <li><a href="{{ '/' | url }}">Home</a></li>
        <li role="presentation">&mdash;</li>
        <li><a href="{{ '/about' | url }}">About</a></li>
        <li role="presentation">&mdash;</li>
        <li><a href="{{ '/resume' | url }}">Resume</a></li>
      </ul>
    </nav>

    <main{% if templateClass %} class="{{ templateClass }}"{% endif %}>
      {{ content | safe }}
    </main>

    <hr/>
    <footer>
      <p>
        Copyright Douglas Bouttell 2019&ndash;{% year %}. 
        Any and all opinions listed here are my own and not representative of my employers; future, past and present.
      </p>
      <p>
        <a href="https://github.com/douglasbouttell/douglasbouttell.co.uk">Source code</a>.
      </p>
    </footer>

    <!-- Current page: {{ page.url | url }} -->
    </div>
  </body>
</html>